# Basic Operattions With Lists

### clear()

clear() bu method listin icindeki elementleri siler.List bos olarak kalır

In [1]:
liste_1 = [1,2,3,4,5]
print(liste_1)

[1, 2, 3, 4, 5]

In [2]:
liste_1.clear()
print(liste_1)

[]

### del()

del() listeyi tamamen siler

In [2]:
liste_2 = [1,2,3,4,5]
print(liste_2)

[1, 2, 3, 4, 5]

In [3]:
del liste_2

In [4]:
liste_2

NameError: name 'liste_2' is not defined

### sort()

sort() elementleri kücükten büyüge sıralar
- sort(reverse = True) # reverse parametresini True yaptıgımız zaman büyükten kücüge dogru sıralama yapar.

In [5]:
sayılar_1 =[1,4,6,7,8,4,9,3,]
sayılar_1

[1, 4, 6, 7, 8, 4, 9, 3]

In [6]:
sayılar_1.sort()

In [7]:
sayılar_1

[1, 3, 4, 4, 6, 7, 8, 9]

In [8]:
sayılar_1.sort(reverse = True) # reverse parametresini True yaptıgımız zaman büyükten kücüge dogru sıralama yapar.

In [9]:
sayılar_1

[9, 8, 7, 6, 4, 4, 3, 1]

In [17]:
isimler_list =["ali","yavuz","ömer","aslan", "yusuf",]

In [18]:
isimler_list.sort()
isimler_list

['ali', 'aslan', 'yavuz', 'yusuf', 'ömer']

In [19]:
isimler_list.sort(reverse = 1)
isimler_list

['ömer', 'yusuf', 'yavuz', 'aslan', 'ali']

### extend()

extend() iterable element alır icine.
append() tek element eklerken extend( birden fazla element ekleyebiliriz list'in icine ama iterable olarak ekler.yani listenin sonuna tek tek ekler elementleri)

In [20]:
list_3 = [1,2,3,4]
list_3

[1, 2, 3, 4]

In [21]:
list_3.append(5)
list_3

[1, 2, 3, 4, 5]

In [22]:
list_3.extend([6,7,8,9])

In [23]:
list_3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
list_3.extend("ayse")

In [25]:
list_3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'y', 's', 'e']

In [27]:
list_4 = [1,2,3,4]
list_5 = [1,2,3,4]

In [28]:
list_4.append([5,6,7])
list_5.extend([5,6,7])

In [29]:
print(list_4)
print(list_5)

[1, 2, 3, 4, [5, 6, 7]]
[1, 2, 3, 4, 5, 6, 7]

In [30]:
list_4.extend(8) # 8 elementi integer oldugu icin iterable degil o nedenle eklemedi error verdi.

TypeError: 'int' object is not iterable

In [32]:
list_4.extend([8])  # burda 8'i list olarak ekledigimiz icin ekler
list_4

[1, 2, 3, 4, [5, 6, 7], 8, 8]

In [33]:
list_4.append("sedat") # append( ile strin bool veya it eeleman eklenebilir)
list_4.append(True)
list_4

[1, 2, 3, 4, [5, 6, 7], 8, 8, 'sedat', True]

# TUPLES

Tuples türkce olarak "demet" anlamına geliyor.
-Tuples'lar listlere göre daha hızlıdır, immutable'dır, stringler gibi degistirilemez.
-Tuples'lar iterable'dır tek tek listelenebilir
-Tuples'ler icine birden farklı data type da elemanlar alabilir.

In [ ]:
# Tuble olusturma yöntemleri:
tuple() # fonksiyon olarak olusturulur veya sadece parantez acıp tuper olusturulabiliyor
()

In [34]:
tuple("Techpro") # list'lerdeki gibi elemanları tek tek alıyor

('T', 'e', 'c', 'h', 'p', 'r', 'o')

In [35]:
name = "Ece" # sitring ifadeyi tuple olarak ekler tuble() fonksiyonu.
tuple(name)

('E', 'c', 'e')

In [36]:
tuple(2356) # integer iterable degil o nedenle error verir.

TypeError: 'int' object is not iterable

In [37]:
tuple([1,2,3,True]) #Tuples'ler icine birden farklı data type da elemanlar alabilir.

(1, 2, 3, True)

In [38]:
["Techpro"] # tek elemanlı bir liste

['Techpro']

In [39]:
["Techpro",1,3.14,False]

['Techpro', 1, 3.14, False]

In [40]:
("Techpro",1,3.14,False) # coklu elemala tuple olusturduk

('Techpro', 1, 3.14, False)

In [41]:
("Techpro") # tek elemanla bu sekilde tuble olusturamayız bunu string kabul eder.

'Techpro'

In [ ]:
("Techpro",) # tek elemanı tuple olusturmak istersek, yani "techpro"u tek element olarak alsın, karekterlerine ayırmasın istiyorsak
             # virgül ekliyoruz sonuna. Bu her data type icin gecerli

In [42]:
type(("techpro"))

str

In [45]:
(15,)

(15,)

In [43]:
tuple("Techpro") # burda tek eleman olarak degil iterable oldugu icin her karekteri ayrı elema olarak aldı tuble

('T', 'e', 'c', 'h', 'p', 'r', 'o')

In [46]:
3.14 #tuble olustururken parantez acıp kapatmadan da yapabiliriz.python parantessiz gördügünde  bunu tuple olarak algılıyor.

3.14

In [47]:
3.14,14,55

(3.14, 14, 55)

In [48]:
tuple_1 = 3,14
print(tuple_1)

(3, 14)

In [49]:
("Nazım",5, 3.15, False) + ("Sami") # 2.si ("Sami") string oldugu icin tuble degil yani o nedenle toplamaz

TypeError: can only concatenate tuple (not "str") to tuple

In [50]:
("Nazım",5, 3.15, False) + ("Sami",) # ("Sami",) bu sekilde tuple oldu:tek elemanın yanına virgil var.

('Nazım', 5, 3.15, False, 'Sami')

In [51]:
("Nazım", 5, 3.150) * 3 # carpma yaptı tuble

('Nazım', 5, 3.15, 'Nazım', 5, 3.15, 'Nazım', 5, 3.15)

## indexing

tuble'larda da indexleme yapabiliyoruz.

In [54]:
tuble_2 = ("Süha", 4, False ,[1,2,3], 3.14 , ('Derya', 6, 4))

In [55]:
tuble_2

('Süha', 4, False, [1, 2, 3], 3.14, ('Derya', 6, 4))

In [56]:
tuble_2[1]

4

In [57]:
tuble_2[2:5] # slasing yapabiliriz

(False, [1, 2, 3], 3.14)

In [58]:
list_6 = ["Sedat", 5, 3.15]
list_6

['Sedat', 5, 3.15]

In [59]:
list_6[1] = 10 # list'e yeni bir index atadım oldu cünkü mutable'dır

5

In [60]:
list_6

['Sedat', 5, 3.15]

In [62]:
tuble_3 = ["Sedat", 5, 3.15]
tuble_3

['Sedat', 5, 3.15]

In [63]:
tuple[1] = 10 # tuble immütable'dır, indexini elementin degistirmek istedik ama olmaz

TypeError: 'type' object does not support item assignment

# Tuble Methods

In [64]:
tuble_3

['Sedat', 5, 3.15]

In [65]:
tuble_3.count(5)

1

In [66]:
tuble_3.index(3.15)

2

In [67]:
tuble_2 = ('Süha', 4, False, [1, 2, 3], 3.14, ('Derya', 6, 4))

('Süha', 4, False, [1, 2, 3], 3.14, ('Derya', 6, 4))

In [68]:
tuble_2[0][2].upper()

'H'

In [69]:
tuble_2

('Süha', 4, False, [1, 2, 3], 3.14, ('Derya', 6, 4))

In [70]:
tuble_2[3]

[1, 2, 3]

In [71]:
tuble_2[3].append(4) # tuble'i degistirmedik fakat tuble icinde list varsa o listi degistirebiliriz.tuble orjinal halini koruyor.

In [72]:
tuble_2

('Süha', 4, False, [1, 2, 3, 4], 3.14, ('Derya', 6, 4))

### range()

range() fonksiyonu sayı üretmek icin kullnaıyoruz.
range(start, stop[, step])=> baslangıc noktası var, son noktası var ve dahil degil.start noktasının default'u 0'dır
- range() fonksiyonu iterable'dır.

In [73]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [74]:
range(10)

range(0, 10)

In [75]:
list(range(10)) # list() fonksiyonunu bu sekilde kullanabiliyoruz. Burda sıfırdan basladı 10 kadar ama 10 dahil degil, sayılar ürettir

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [76]:
tuple(range(5,16))

(5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)

In [77]:
tuple(range(0,15,3)) # 0'dan basla , 15' e kadar git, 3'er 3 er git

(0, 3, 6, 9, 12)

In [78]:
tuple(range(10,0)) # 0'dan 10'na gidemez

()

In [79]:
tuple(range(10,0, -1)) # -1 ile tersten baslar yani 10'dan 0'a git demis oluyoruz "-1" ile

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [ ]:
range(0,10)[8] # index de alabiliyoruz

In [80]:
tuple(range(0,10,1.5)) # range fonksiyonu float lar ile calısmaz. integerlar ile calısır.

TypeError: 'float' object cannot be interpreted as an integer