# filter()

In [2]:
# filter(function or None, iterable) =>filter parantezine bir "iterable veya "none" alır
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [3]:
filter(None, "hello")

In [4]:
list(filter(None, "hello"))

['h', 'e', 'l', 'l', 'o']

In [6]:
list(filter(None, [1, 2, 0, "", 3.14, True, False, ()]))
# filter da "None" kullanınca diger iterable olan elemanları true ve truety(bos list..) olanları  yazdıracaktır
# filter fonksiyonu true ve false'lar ile calısır.

[1, 2, 3.14, True]

In [1]:
# tek sayı ise true ,cift sayı ise false döndüren bir fonksiyon yazdık:
def tek_sayı_bulucu(x):

    if x % 2 == 1:
        return True
    else: 
        return False

In [8]:
tek_sayı_bulucu(9)

True

In [9]:
tek_sayı_bulucu(8)

False

In [2]:
# fiter'ı yukarda yazdıgımız fonksiyonu kullandık.Fonksiyonda sayı tek ise true döndürecekti ,true olanları döndürecek o nedenle tek sayıları verecek bize
tuple(filter(tek_sayı_bulucu, [1, 2, 3, 4, 5, 6, 7, 8, 9]))

(1, 3, 5, 7, 9)

In [11]:
list(filter(len, ["sedat","techpro", "", "inci"])) # burda "" bos stringin len fonksiyon degeri 0'dır. O nedenle filter bunu yazdırmaz, karsımıza cıkarmaz.

['sedat', 'techpro', 'inci']

In [ ]:
["sedat", "techpro", "ali", "hüma","nazım", "ersin"]

In [12]:
def len_5(x):
    if len(x) == 5:
        return True
    else:
        return False

In [13]:
len_5("techpro")

False

In [14]:
len_5("nazım")

True

In [15]:
set(filter(len_5, ["sedat", "techpro", "ali", "hüma","nazım", "ersin"]))

{'ersin', 'nazım', 'sedat'}

In [3]:
# sayı armstrong ise "true" döndersin, degilse "folse" dönderen bir fonksiyon yazdık:
def find_armstrong(sayı):

    sayı = str(sayı)

    basamak_sayısı = len(sayı)

    toplam = 0

    for i in sayı:

        toplam += int(i) ** basamak_sayısı # toplam = toplam + int(i) ** basamak_sayısı


    if toplam == int(sayı):
        return True
    else:
        return False

In [19]:
find_armstrong(407)

True

In [4]:
list(filter(find_armstrong, range(11,1000000))) # 1 ile 10 bine kadar olan sayıları amstrong olanları buldk

[153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084, 548834]

In [5]:
list(filter(find_armstrong, 11)) # 'int' object is not iterable

TypeError: 'int' object is not iterable

# lambda()

-lambda fonksiyonu kullan at bi fonksiyondur
-tanımlamaya gerek yok bu nedenle de => hafızada yer tutmaz
-hafızada yer tutmaz

In [6]:
# 2 sayının ayrı karesini alıp toplayan fonksiyon yazdık(lambdayı anlatmak icin)
def kareler_toplamı(x, y):
    return x **2 + y ** 2

In [7]:
kareler_toplamı(3,4)

25

In [27]:
# yukardaki def ile yazdıgımız fonksiyonun yaptıgı islemi lambda ile yaptık burda.
# lambda =>parametre ver => : => yapacagın islem 
lambda x, y: x ** 2 + y ** 2

In [29]:
#lambda kullanımı: lambda ile yapacaklarımızı parantez icine yaz sonra kullanmak icinde yanına bi parantez daha ac ve kullan
(lambda x, y: x ** 2 + y ** 2)(3,4)

25

In [31]:
(lambda x, y: (x ** 2 + y ** 2) ** 0.5) (3,4)

5.0

In [33]:
(lambda x, y: int((x ** 2 + y ** 2) ** 0.5)) (3,4)

5

In [34]:
(lambda x: len(x) == 5)("sedat") # def ile yazdıgımız fonksiyon gibi calısıyor bu lamda fonksiyonu.def ile yaptıgımız hafızada yer kaplar ama lambda yı atama yapmadıgımız icin yer tutmaz

True

In [35]:
(lambda x: len(x) == 5)("enejan")

False

In [36]:
list(filter(lambda x: len(x) == 5, ["sedat", "techpro", "ali", "hüma","nazım", "ersin"]))

['sedat', 'nazım', 'ersin']

In [ ]:
(lambda x: x[::-1]) # tersten yazdırır (palindrom)

In [37]:
(lambda x: x[::-1])("sedat")

'tades'

In [38]:
(lambda x: x[::-1])("ey edip adanada pide ye")

'ey edip adanada pide ye'

In [8]:
# Verilen list deki elementlerden hangilerinin palindrom oldugunu bulan lambda fonksiyonunu yazınız:
isimler_listesi = ["ece", "sedat", "inci", "ey edip adanada pide ye", "nazan"]

In [39]:
(lambda x: x[::-1] == x)("nazan")

True

In [40]:
(lambda x: x[::-1] == x)("sedat")

False

In [42]:
list(filter(lambda x: x[::-1] == x, isimler_listesi))

['ece', 'ey edip adanada pide ye', 'nazan']

In [5]:
import pandas as pd

In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/boravolkanalkac/Library/Python/3.11/lib/python/site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in /Users/boravolkanalkac/Library/Python/3.11/lib/python/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/boravolkanalkac/Library/Python/3.11/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/boravolkanalkac/Library/Python/3.11/lib/python/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/boravolkanalkac/Library/Python/3.11/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/boravolkanalkac/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /Users/boravolkanalkac/anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/boravolkanalkac/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/boravolkanalkac/anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/boravolkanalkac/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/boravolkanalkac/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
conda install pandas

ValueError: The python kernel does not appear to be a conda environment.  Please use ``%pip install`` instead.

In [6]:
df = pd.read_csv("adult_eda.csv")

In [7]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
df.sex

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [6]:
df.sex.apply(lambda x: 0 if x == "Male" else 1)

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

In [12]:
sayılar_listesi = [4,56,84,25,35,14,7,8,24,15] # tek elemanları döndüren lamba fonksiyonu yazın

In [8]:
(lambda x: x % 2)(23)

1

In [11]:
list(filter(lambda x: x % 2, sayılar_listesi))

[25, 35, 7, 15]

In [12]:
# dik ücgenin 2 kenar bilgisini alsın bize hipotenis bilgisini versin:x'in karesi + y'nin karesi ve bunun da karekökünü aldık
(lambda x,y : (x ** 2 + y ** 2) ** 0.5)(3,4)  # bu fonksiyonu daha sonra kullanmak istersem bir degiskene tanımlarım. Asagıda yaptık

5.0

In [13]:
#lambda ile yaptıgımız bir fonksiyonu degiskene atadık 
hypo = lambda x,y : (x ** 2 + y ** 2) ** 0.5

In [14]:
hypo(5,12)

13.0

# map()

- map(func, *iterables) icine fonksiyon ve iterable element alır
-map() fonksiyonu iterable elemanları fonksiyona tabi tutar ve fonksiyon sonucunda dönen sonucu bize verir.
-

In [15]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [16]:
def sayının_karesi(x):

    return x ** 2

In [17]:
sayının_karesi(8)

64

In [18]:
sayılar_listesi = [1,4,6,5,2,3,8,9,7]

In [19]:
map(sayının_karesi, sayılar_listesi )

In [20]:
list(map(sayının_karesi, sayılar_listesi )) # "sayılar_listesi" listesindeki elementleri aldı "sayının_karesi" fonksiyonunu kullanarak elementlerin karelerini aldı

[1, 16, 36, 25, 4, 9, 64, 81, 49]

In [21]:
isimler_listesi = ["techpro", "education", "Tahira", "Hava"]

In [22]:
list(map(len, isimler_listesi))

[7, 9, 6, 4]

In [38]:
sayılar_listesi

[1, 4, 6, 5, 2, 3, 8, 9, 7]

In [42]:
# arrags ile olusturduk teklerin karesini ,ciftleri oldugu gibi yazdırır
def tek_çift(* x):

    result = []
    for i in x:
        if i % 2 == 1:
            result.append(i ** 2)
        else:
            result.append(i)

    return result

In [43]:
tek_çift(1,2,3,4,5,6,7,8,9)

[1, 2, 9, 4, 25, 6, 49, 8, 81]

In [47]:
(lambda x: x ** 2 if x % 2 == 1 else x)(8)

8

In [48]:
(lambda x: x ** 2 if x % 2 == 1 else x)(7) # lambda fonksiyonu bir sayı icin calısıyor. map ile daha fazla sayı ile calısabiliriz:

49

In [46]:
list(map(lambda x: x ** 2 if x % 2 else x, [1,2,3,4,5,6,7,8,9] )) #map ile daha fazla sayı ile calısabiliriz:map fonksiyonu lambda fonksiyonu ve bir list(yani iterable) ile calısırdı

[1, 2, 9, 4, 25, 6, 49, 8, 81]

In [49]:
tuple(map(lambda x: x ** 2 if x % 2 else x, [1,2,3,4,5,6,7,8,9] ))

(1, 2, 9, 4, 25, 6, 49, 8, 81)

In [50]:
set(map(lambda x: x ** 2 if x % 2 else x, [1,2,3,4,5,6,7,8,9] ))

{1, 2, 4, 6, 8, 9, 25, 49, 81}

In [51]:
dict(map(lambda x: x ** 2 if x % 2 else x, [1,2,3,4,5,6,7,8,9] ))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [ ]:
sayılar_listesi = [4,56,84,25,35,14,7,8,24,15]

## faktöriyel hesaplama

5! >> 5 * 4 * 3 * 2 * 1
3! >> 3 * 2 * 1

In [23]:
# bir sayının faktörünü bulan fonksiyonu yaz:
def fact_for(x):

    factoriel = 1
    for i in range(1,x+1):
        factoriel *= i

    return factoriel

In [24]:
fact_for(0)

1

In [25]:
def fact_recursive(x):

    if x == 0:
        return 1
    
    return x * fact_recursive(x - 1)

In [26]:
fact_recursive(5)

120

In [ ]:
fact_recursive(-5)

: