# Nested Dictionaries

In [1]:
myfamily = {"child_1" : {"name" : "Emily", "year": 2004} ,   # icice dictionary olusturma
           "child_2" : {"name" : "TOBİAS", "year": 2007 },
           "child_3" : {"name" : "Linus", "year": 20011 } }

In [7]:
myfamily

{'child_1': {'name': 'Emily', 'year': 2004},
 'child_2': {'name': 'TOBİAS', 'year': 2007},
 'child_3': {'name': 'Linus', 'year': 20011}}

In [ ]:
# bos dictionary
bos_dict = dict()  
myfamily = {}

In [2]:
myfamily.keys()

dict_keys(['child_1', 'child_2', 'child_3'])

In [ ]:
myfamily.values()

dict_values([{'name': 'Emily', 'year': 2004}, {'name': 'TOBİAS', 'year': 2007}, {'name': 'Linus', 'year': 20011}])

In [4]:
myfamily["child_1"]

{'name': 'Emily', 'year': 2004}

In [5]:
myfamily["child_1"].keys()

dict_keys(['name', 'year'])

In [6]:
myfamily["child_1"].values()

dict_values(['Emily', 2004])

In [8]:
elementary_class = { "student_1" : {"name" : "Demet" , "school_nu" : 11, "phone_nu" : 123 },
                    "student_2" : {"name" : "Ahmet" , "school_nu" : 12, "phone_nu" : 124 },
                    "student_3" : {"name" : "Sami" , "school_nu" : 13, "phone_nu" : 125 }}

In [9]:
elementary_class

{'student_1': {'name': 'Demet', 'school_nu': 11, 'phone_nu': 123},
 'student_2': {'name': 'Ahmet', 'school_nu': 12, 'phone_nu': 124},
 'student_3': {'name': 'Sami', 'school_nu': 13, 'phone_nu': 125}}

In [10]:
elementary_class.get("student_2")

{'name': 'Ahmet', 'school_nu': 12, 'phone_nu': 124}

In [11]:
elementary_class.get("student_2").get("school_nu") # student_2 nin school nosunu aldık

12

In [12]:
elementary_class["student_3"]["phone_nu"]

125

In [13]:
elementary_class["student_3"].get("phone_nu")

125

## in , not in

in , not in : bir elementi bir string veya tuble icinde var mı diye arayabiliriz
bool'un döner sonuc

In [14]:
"e" in "hello" # hello icinde e harfi var mı?

True

In [15]:
"llo" in "hello"

True

In [16]:
"eo" in "hello"

False

In [23]:
1 not in [123]

True

In [24]:
elementary_class

{'student_1': {'name': 'Demet', 'school_nu': 11, 'phone_nu': 123},
 'student_2': {'name': 'Ahmet', 'school_nu': 12, 'phone_nu': 124},
 'student_3': {'name': 'Sami', 'school_nu': 13, 'phone_nu': 125}}

In [25]:
"student_1" in elementary_class

True

In [26]:
"name" in elementary_class

False

In [27]:
elementary_class["student_1"]

{'name': 'Demet', 'school_nu': 11, 'phone_nu': 123}

In [28]:
"name" in elementary_class["student_1"]

True

In [29]:
aa = {"key1" : "value1", "key2" : 25}
aa

{'key1': 'value1', 'key2': 25}

In [30]:
"key1" in aa # dict'ler keyleri arar.

True

In [31]:
"value1" in aa

False

In [32]:
"value1" in aa.values()

True

In [34]:
123 in elementary_class["student_1"].values()

True

In [36]:
elementary_class.get("student_1").values()

dict_values(['Demet', 11, 123])

In [37]:
123 in elementary_class.get("student_1").values()

True

# ***SETS***

Sets : kümeler
-Aynı elemanı 2 kere tutmaz sadece bir tanesini tutar. Yani uniq eleman tutar
- "bos küme" olusturma  sadece set( ) fonksiyonu ile olur
-kümeler mütible dır, degistirilebilir.
-kümeler iterable dır

In [ ]:
# set olusturma:
set()  # set() faonksiyonu ile olusturma.bununla sadece "bos küme" olusturabiliyoruz
{}

In [ ]:
# set()  indexlenemezler cünkü unordered(sıralama yok) yapıdadır. Ve iterable olmalı.
set()

In [38]:
set("hello") # sıralama yok ve "l"i tek verdi

{'e', 'h', 'l', 'o'}

In [42]:
set("techproyk") # bunu calıstırınca ASCII YE güre verdi bu jupiterin özelligi, oython'un degil

{'c', 'e', 'h', 'k', 'o', 'p', 'r', 't', 'y'}

In [45]:
print(set("techpro")) # print ile yazınca unordered oldugunu gördük.

{'o', 'h', 't', 'e', 'c', 'p', 'r'}

In [44]:
{"blue", "green", "white", "dark gray", "pink", "blue"} # {} ile yaptık

{'blue', 'dark gray', 'green', 'pink', 'white'}

In [46]:
{"blue", "green", "white", "dark gray", "pink", "Blue"} # "Blue" VE "blue" basharfi birinin büyük digerininki kücük harf oldugu icin ekledi

{'Blue', 'blue', 'dark gray', 'green', 'pink', 'white'}

In [47]:
{"enes", 32, "data_scientist", 3.14, False, "Blue"} # farklı data type'larınıda calıstırır.

{3.14, 32, 'Blue', False, 'data_scientist', 'enes'}

In [48]:
dict1= dict()
dict2 = {}

In [49]:
set_1 =set()
set_2 = {}

In [50]:
type(dict1)

dict

In [51]:
type(dict2)

dict

In [52]:
type(set_1) # bos küme olusturma  sadece set( ) fonksiyonu ile olur

set

In [53]:
type(set_2)

dict

In [55]:
list_1 = ["kalem","kagıt","sşlgi", "kagıt","kalem"]
list_1

['kalem', 'kagıt', 'sşlgi', 'kagıt', 'kalem']

In [56]:
set_3 = {"kalem","kagıt","sşlgi", "kagıt","kalem"}
set_3

{'kagıt', 'kalem', 'sşlgi'}

In [57]:
list_1 # list icinde aynı elemdan birden fazla var bunu tek e düsürmek istersem set() fonksiyonu ile yaptık asagıda

['kalem', 'kagıt', 'sşlgi', 'kagıt', 'kalem']

In [58]:
set(list_1) # set'e dönüstürdük

{'kagıt', 'kalem', 'sşlgi'}

In [59]:
list(set(list_1)) # tekraar liste dönüstürdük

['kalem', 'sşlgi', 'kagıt']

In [60]:
print(list(set(list_1)))

['kalem', 'sşlgi', 'kagıt']

In [61]:
{"kalem","kagıt","sşlgi", "kagıt","kalem",{"kalemtras", "defter"}} # küme(set) icine küme gönderemeyiz

TypeError: unhashable type: 'set'

In [62]:
 # set icine liste gönderemiyoruz{"kalem","kagıt","sşlgi", "kagıt","kalem",["kalemtras", "defter"]}

TypeError: unhashable type: 'list'

In [63]:
{"kalem","kagıt","sşlgi", "kagıt","kalem",("kalemtras", "defter")}  # set icine tuble gönderebiliyoruz

{('kalemtras', 'defter'), 'kagıt', 'kalem', 'sşlgi'}

In [64]:
set_4 ={True, False, 1, 4, 0, 0.0, 2} # false ve true nun karsılıgı 0 ve 1 oldugu icin birini yazdırdı, kümeler unıq eleman icerdigi icin  
set_4

{False, True, 2, 4}

In [66]:
set_5 ={0, 1,True, False, 4, 0.0, 2} # burda da yazma sırasının önemli oldugunu gördük
set_5

{0, 1, 2, 4}

In [67]:
print(set_5)

{0, 1, 2, 4}

## Kümelerin methodları: Union(), Intersection(), Difference()

ıntersection ; 2 kümenin kesisim kümesi yani ortak elemanlarını icerir, 
difference ; 2 kümedeki ortak olmayan elemanları kapsar, 
union; ise 2 kümenin toplamı

In [68]:
a = set("suzan") 
b = set("yavuz")

In [69]:
a

{'a', 'n', 's', 'u', 'z'}

In [70]:
b

{'a', 'u', 'v', 'y', 'z'}

In [71]:
a.union(b) # a birlesim b anlamındadır, tüm elemanları biraraya toplar.

{'a', 'n', 's', 'u', 'v', 'y', 'z'}

In [72]:
a | b # "a | b" = "a.union(b)". yani unionu a|b seklinde de yapabiliyoruz

{'a', 'n', 's', 'u', 'v', 'y', 'z'}

In [ ]:
b.union(a) # a.union(b)  ile aynı

In [73]:
a + b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [74]:
a.intersection(b) # kesisim kümesidir, ortak elemanları yazdırır.

{'a', 'u', 'z'}

In [ ]:
b.intersection(a) # a.intersection(b) ile aynıdır

In [75]:
a & b # intersection() ile aynı görevi yapar

{'a', 'u', 'z'}

In [77]:
a.difference(b) # a'nın b'den farkı

{'n', 's'}

In [78]:
b.difference(a) # b'nın a'dan farkını verir

{'v', 'y'}

In [76]:
a - b # difference ile aynı islemi yapar

{'n', 's'}

In [79]:
b.difference(a)

{'v', 'y'}

In [80]:
b - a

{'v', 'y'}

In [81]:
a.difference(b)

{'n', 's'}

In [82]:
set_6 = set("fıstık")
set_7 = set("fındık")

In [83]:
set_6

{'f', 'k', 's', 't', 'ı'}

In [84]:
set_7

{'d', 'f', 'k', 'n', 'ı'}

In [85]:
set_6 | set_7 # 2 kümenin tüm elemanlarını alır ortak olanları bir kere alır.2 kere yazdırmaz

{'d', 'f', 'k', 'n', 's', 't', 'ı'}

In [86]:
set_7 - set_6

{'d', 'n'}

In [88]:
# set_6 ve set_7 nin ortak olmayan elemanlarını bulun:
set_7- set_6 | set_6-set_7

{'d', 'n', 's', 't'}

In [89]:
(set_6 | set_7) - (set_7 & set_6)

{'d', 'n', 's', 't'}

In [92]:
set_6 ^ set_7

{'d', 'n', 's', 't'}

In [93]:
set_6.symmetric_difference(set_7) # set_6 ^ set_7 ile aynı.  yukarda yaptıklarımızı soruyu cözerken yaptıklarımızı "symmetric_difference(" ile de yapabiliriz

{'d', 'n', 's', 't'}

In [94]:
set_6.union(set_7)

{'d', 'f', 'k', 'n', 's', 't', 'ı'}

In [95]:
set_6

{'f', 'k', 's', 't', 'ı'}

In [96]:
set_7

{'d', 'f', 'k', 'n', 'ı'}

In [97]:
set_6 = set_6.union(set_7) # bunu set_6.update(set_7) ile yapabiliriz:set_7^yi set_7 dekileri ekledik.yani set_6 ya atadık degisiklik set_6 da oldu. set_7 degismez

In [98]:
set_6

{'d', 'f', 'k', 'n', 's', 't', 'ı'}

In [99]:
set_6.update(set_7)

In [100]:
a

{'a', 'n', 's', 'u', 'z'}

In [101]:
b

{'a', 'u', 'v', 'y', 'z'}

In [102]:
a.intersection(b)

{'a', 'u', 'z'}

In [ ]:
a.intersection_update(b) # b'yi a'ya atadık

In [103]:
a

{'a', 'n', 's', 'u', 'z'}

In [104]:
b

{'a', 'u', 'v', 'y', 'z'}

In [105]:
for i in b:
    print(i)

y
u
a
z
v

## clear()

In [106]:
a.clear() # clear elemanları siler set bos olarak kalır

In [107]:
a

set()

## remove()

In [108]:
b.remove("v") # remove parantezine yazdıgımız elemanı siler.kümede yoksa eleman error verir

In [109]:
b

{'a', 'u', 'y', 'z'}

In [110]:
b.remove(e)

NameError: name 'e' is not defined

## pop()

In [111]:
help(set.pop) # pop() rasgele eleman siler

Help on method_descriptor:

pop(...)
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [112]:
set_6.pop()

's'

## add()

In [113]:
bos_küme = set()

In [114]:
bos_küme

set()

In [115]:
bos_küme.add("a") # add() normalde kac kere calıstırırsak o kadar parantezine yazdıgımız elemanı eklerdi.
                  # FAKAt setler uniq oldugu icin ne kadar bu kodü calıstırsakta eklemez.

In [116]:
bos_küme

{'a'}

In [ ]:
bos_küme

## issubset()

In [118]:
set_8 =set("selin")
set_9 =set("enes")

In [119]:
set_8 # set_8 , set_9'u kapsar, veya alt kümesidir diyebiliriz

{'e', 'i', 'l', 'n', 's'}

In [120]:
set_9

{'e', 'n', 's'}

In [121]:
set_8.issubset(set_9) # set_8 set_9'un alt kümemisi midir?

False

In [122]:
set_9.issubset(set_8)# set_9 set_8'in alt kümemisi midir?

True

In [124]:
{"a", "b"}.issubset({"b","a"}) # 2 kümenin elemanları esit ise true döner.

True