# Type Conversion

### all types to str

In [ ]:
"Techpro education"

In [1]:
age = 32

In [2]:
type(age)

int

In [3]:
str(age) # int'ı stringe cevirdik

'32'

In [4]:
type(age) # type'ı halen int ,cünkü herhengibir degiskene atamadık str'ye cevirdigimiz degiskeni.

int

In [5]:
age = str(age)

In [6]:
type(age) # simdi type'ı str oldu.Cünkü yaptıgımız degisikligi bir age degiskenine atadık

str

In [7]:
pi_number = 3.14

In [8]:
type(pi_number)

float

In [9]:
str(pi_number)

'3.14'

In [10]:
pi_number = str(pi_number)

In [11]:
type(pi_number)

str

In [12]:
pi_number # bu sekilde calıstırdıgımızda altta data type'nın seklini de anlarız => '3.14'

'3.14'

In [13]:
print(pi_number)  #  ama print() icinde yazdırınca sadece degeri görürüz. bize data type'ı hakkında bilgi vermez => 3.14

3.14

In [15]:
x = False
y = True

In [16]:
str(x) # bununla sadece stringe cevirdik. o nedenle bunun data type'ı halen bool'dur.

'False'

In [17]:
type(x)

bool

In [18]:
x = str(x) # bununla bool ifatesini str'ye cevirdik ve bir konteynera atadık o nedenle te'ı str olur artık

In [19]:
type(x)

str

### str to int

In [21]:
age_1 = "32" # bu str bir ifade ama yas(age)ler int olarak kullanılır o nedenle bu stringi integer'a cevirmek istiyorum.

In [22]:
int(age)

32

In [24]:
type(age_1)

str

In [25]:
age_1 = int(age_1)

In [26]:
type(age_1)

int

In [23]:
int("32a") # int'e cevirmek icin int'e benzemesi gerek icindeki "a" ifadesinden dolayı hata verir ceviremeyiz.

ValueError: invalid literal for int() with base 10: '32a'

### str to float

In [29]:
pi_number_1 = "3.14"

In [30]:
type(pi_number_1)

str

In [31]:
float(pi_number_1)

3.14

In [32]:
pi_num = float(pi_number_1)

In [33]:
type(pi_num)

float

In [34]:
float("3.14a")

ValueError: could not convert string to float: '3.14a'

### int to float

### float to int

In [35]:
age_2 =34

In [36]:
float(age_1)

32.0

In [37]:
float(0)

0.0

In [38]:
float_sayı = 5.8

In [39]:
int(float_sayı) # floatı int'e cevirirken noktadan sonrasını almaz

5

In [40]:
int(5.9999999)  # 5

5

In [44]:
aa = 5,9 # 5 ve 9 arasında virgül var o nedenle bunun type foat degil "tuple"

In [45]:
type(aa)

tuple

In [46]:
int("3.14") # böyle string ifadeyi direk int'e ceviremeyiz. Önce float'a cevirip sonra onuda int'e cevirebilrz.

ValueError: invalid literal for int() with base 10: '3.14'

In [47]:
int(float("3.14")) # 3

3

### bool to int
### boll to float

In [53]:
print(x) # print() ile yazdırınca bu iki ifadeyi de bool'un gibi gösteriyor.data type'larına ayriyetten bakmak lazım "type()" ile.
print(y)

False
True

In [54]:
x # string bir ifadeye 'False'

'False'

In [55]:
y # bool'un bir ifade True

True

In [56]:
type(x)

str

In [57]:
type(y)

bool

In [60]:
int(y) # in

1

In [62]:
z = True
w = False

In [63]:
int(z) # bool'un ifadeler int'e cevrilebilir =>true ->1

1

In [64]:
int(w) # bool'un ifadeler int'e cevrilebilir =>False -> 0

0

In [65]:
float(z) # bool'un ifadeler float'a cevrilebilir =>True ->1.0

1.0

In [66]:
float(w) # bool'un ifadeler float'a cevrilebilir =>False -> 0.0

0.0

# Arithmetic Operations

In [67]:
3 + 5

8

In [68]:
9 - 4

5

In [69]:
8 * 5

40

In [70]:
40 / 10 # bir bölme isleminde sonuc float cıkar

4.0

In [71]:
40 / 7

5.714285714285714

In [72]:
2.4 * 5 # isimlemde float varsa sonuc floattır

12.0

In [73]:
25 / 3 # DİVİSİON İFADESİ: /

8.333333333333334

In [74]:
25 // 3 # floor division ifadesi: //  ,bize bölümün sonucunu verir

8

In [75]:
25 % 3 # modulus ifadesi: % , bÖLME İSLEMİ SONRASI KALANI VERİR

1

In [ ]:
2 ** 5 # üs alma islemi

In [76]:
5 ** 3 # 5 * 5 *5

125

In [77]:
25 ** 0.5  # karakök alma: sayının 0.5 üstünü al.ör 25 sayısının karakökünü almak icin 0.5. üstünü alırız ile alırız
           # küp kökünü alma : (1 / 3) 
           #4. dereceden kökünü almak icin: (2 / 4).......

5.0

In [78]:
64 ** (1 / 3)

3.9999999999999996

In [80]:
int(64 ** (1/3))

3

In [82]:
int(3.9999999999999999) # noktadan sonra 16 karekterden sonrasını 4 olarak veriyorken , 16 karekterden öncesinde 3 olarak verd sonucu

4

In [83]:
x = (4 + 7) ** (4 ** (1 *2 /2) / 2)
print(x)

121.0

### Soru 3: Yarıcapı 7 olan bir dairenin alanını bulan python kodunu yazın. pi = 3.14

In [87]:
yarı_cap = 7
pi = 3.14
dairenin_alanı = (yarı_cap ** 2) * pi
print("Dairenin alanı : " ,dairenin_alanı)

Dairenin alanı :  153.86

In [88]:
y = (2 * 6 / 4) ** (5 * (21 // 4) - 23)
print(y)

9.0

In [89]:
x = 5

In [90]:
x = x + 6
print(x)

11

In [92]:
x += 6  #  "x += 6"  bu ifade ile bu ifade "x = x + 6" aynı
print(x)  # not: her calıstırdıgımızda bi önce calıstırdıgımızın üstüne ekler

23

In [93]:
x = x - 4
print(x)

19

In [94]:
x -= 4
print(x)

15

In [95]:
x *= 2
print(x)

30

In [96]:
x /= 4
print(x)

7.5

In [97]:
x **= 2
print(x)

56.25

In [ ]:
y = 7  # 3 kere calıstırınca sonuc ne olur? CEVAP: Sonuc degismez cünkü aynı yerde calıstırdıgımız icin , python soldan saga ve yukarıdan asagı calısır
y += 5  # her seferinde y degiskenini yeniden tanımlar
print(y)

In [98]:
y = 7

In [101]:
# 3 kere calıstırınca sonuc ne olur? CEVAP: 22 olur, cünkü y'i bi üstteki kod blogunda tanımladık, sonra burda 5 ekleyerek 3 defa calıstırdk.
y += 5
print(y)

22

### SORU: Bir kenarı 5 diğer kenarı 12 olan dik üçgenin hipotenüsünü bulan python kodunu yazın.

In [105]:
kenar_1 = 5
kenar_2 = 12
h =  (kenar_1 ** 2 + kenar_2 ** 2) ** 0.5
print("Hipotenus : ",h)

Hipotenus :  13.0