Bir markete gittiniz. Markette her ürünün bir kod numarası var.
1 : Elma 2 : Portakal 3 : Çilek 4 : Yumurta 5 : Havuç 6 : Armut ... vs. şeklinde.
Kullanıcıya almak istediği ürünü sorunuz ve kod numarası ile seçim yaptırınız. Çıkış için "q" opsiyonunu sununuz. Kullanıcının her ürün seçimi sonrası " .... elma sepete eklendi" gibi bir dönüt veriniz. Kullanıcı ürün almaya devam ettikçe ürünleri bir listede toplayınız, almaktan vazgeçtiği durumda teşekkür edip, aldığı toplam ürünleri çıktı veren bir kod yazınız.
Çıktı:
Teşekkür Ederiz...
Sepetinizde Bulunan Ürünler: elma, armut, yumurta ... vs.

In [10]:
ürünler[2]

'Portakal'

In [9]:
ürünler = {1 : "Elma", 2 : "Portakal", 3 : "Çilek", 4 : "Yumurta", 5 : "Havuç", 6 : "Armut"}

print("""
1 >>>> Elma
2 >>>> Portakal
3 >>>> Çilek
4 >>>> Yumurta
5 >>>> Havuç
6 >>>> Armut
""")

sepet = []

while True:

    x = input("Almak istediğiniz ürünün kodunu girin. Sepete daha fazla ürün eklemek istemediğinizde 'q' tuşuna basınız").lower()

    if x != "q":
        sepet.append(ürünler[int(x)])
        print(f"Sepete {sepet[-1]} eklendi.")
    elif x == "q" or x == "Q":
        print("Bzizi tercih ettiğiniz için teşekkürler.")
        print(f"Almış olduğunuz ürünler {sepet}")
        break

1 >>>> Elma
2 >>>> Portakal
3 >>>> Çilek
4 >>>> Yumurta
5 >>>> Havuç
6 >>>> Armut

Sepete Elma eklendi.
Sepete Elma eklendi.
Bzizi tercih ettiğiniz için teşekkürler.
Almış olduğunuz ürünler ['Elma', 'Elma']

## zip()

-zip() fonksiyonu 2 ayrı listî birlestirir.
-String verileri 
-bu fonksiyon farklı eleman sayılarındaki stringleri, en kücük eleman sayısına göre birlestirme yapar. Önce 1.indexdekileri alır bir tuble koyar, sonra 2. indextekiler... ve en son bunu list icinde yazdırır list ile yazdırma yaptıysak(ör:list(zip(x,y,z)).
-Birden fazla list'i birlestirirken zip'in parantezine yazdıgımız sıraya göre birlestirmeyi yapar.ör: 
list(zip(a,b))=> birlestirirken önce a daki birinci indexdekini alır sonra b deki birinci indexdekini alır.
list(zip(b,a)) bu sekilde ise önce b dekini alır sonra a'dakini.
-zip birlestirme sonucunda tuble verir. 
    list ile yazdırırsak list icinde tuble'lar seklinde verir => list(zip(a,b)) => [('apple', 1), ('orange', 2), ('lemon', 3)]
    tuble ile yazdırırsak tuble icinde tuble ile verir => tuple(zip(b,a))  => ((1, 'apple'), (2, 'orange'), (3, 'lemon'))
    set ile yaparsak  gene set icinde tuble olusturarak verir => set(zip(b,a)) => {(1, 'apple'), (2, 'orange'), (3, 'lemon')}
  * fakat dicitionary ile yazdırırsak dict'e cevirir. => dict(zip(b,a)) =>   {1: 'apple', 2: 'orange', 3: 'lemon'}  
  yani dict haricinde yazdırdıgımızda tuble verir zip fonksiyonu
  -zip iterable'dır

In [11]:
a = ["apple", "orange", "lemon"]
b = [1,2,3]

In [12]:
zip(a,b) # böyle görüntülemiyoruz o nedenle listle bakabiliyoruz

In [13]:
list(zip(a,b))

[('apple', 1), ('orange', 2), ('lemon', 3)]

In [14]:
x = "Techpro"  # 3 tane string veriyi zip'lersek => list(zip(x,y,z)) => yazdırdıgımızda tuble icinde verdi. Önce 1. indexdekileri aldı bir tuble yaptı. 
y = "Nazım"    # sonra 2. indextekileri aldı ayrı bir tuble yaptı... ve en son bunu list icinde yazdırdı
z = "Ece"

In [15]:
list(zip(x,y,z))  # bu fonksiyon farklı eleman sayılarında oldugu zaman en kücük eleman sayısına(len'ine) göre birlestirme yapar

[('T', 'N', 'E'), ('e', 'a', 'c'), ('c', 'z', 'e')]

In [1]:
a = ["apple", "orange", "lemon"]
b = [1,2,3]

In [2]:
tuple(zip(b,a))  # yukarda a,b seklinde aldık burda ise b,a seklinde aldık. Verdigimiz sıraya göre birlestirmeyi yapar.

((1, 'apple'), (2, 'orange'), (3, 'lemon'))

In [17]:
dict(zip(b,a)) #  fakat dicitionary ile yazdırırsak dict'e cevirdi

{1: 'apple', 2: 'orange', 3: 'lemon'}

In [18]:
set(zip(b,a)) # birlestirince tuble'a cevirdi

{(1, 'apple'), (2, 'orange'), (3, 'lemon')}

In [19]:
name = ["mehmet", "murat", "nazlı"]
age = [26,32,28]
job = ["data_scientist", "python_developer", "data_analyst"]

In [20]:
list(zip(name,age,job))

[('mehmet', 26, 'data_scientist'),
 ('murat', 32, 'python_developer'),
 ('nazlı', 28, 'data_analyst')]

In [22]:
# zip'i for döngüsü ilede kullanılabilir.
for i, j, k in zip(name,age,job):

    print(f"{i:^10},{j:^10},{k:^15}")

  mehmet  ,    26    ,data_scientist
  murat   ,    32    ,python_developer
  nazlı   ,    28    , data_analyst

In [24]:
for i, j in zip(name,age,job):

    print(f"{i:^10},{j:^10}")

ValueError: too many values to unpack (expected 2)

In [23]:
dict(zip(name,age,job))

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [27]:
liste_1 = "techpro is the best".split()
liste_1

['techpro', 'is', 'the', 'best']

In [28]:
sayı_listesi = [1,2,3,4]

In [29]:
list(zip(sayı_listesi,liste_1))

[(1, 'techpro'), (2, 'is'), (3, 'the'), (4, 'best')]

## enumerate()

-enumerate() bu fonksiyon numeretik gibi calısır, numaralandırma yapar.
-enumerate() de gene tek yazdıramıyoruz, list veya baska bi fonksiyonla yazdırabiliriz. örn: list(enumerate(liste_1))
-enumerate() te bir deger vermezsek defaultu sıfır "0"dır. sıfırdan baslatır: örn: list(enumerate(liste_1)) => [(0, 'techpro'), (1, 'is'), (2, 'the'), (3, 'best')]

In [30]:
liste_1

['techpro', 'is', 'the', 'best']

In [31]:
enumerate(liste_1)

In [32]:
list(enumerate(liste_1)) #enumerate fonksiyonuna baslangıc vermezsek default olarak 0'dan baslatır

[(0, 'techpro'), (1, 'is'), (2, 'the'), (3, 'best')]

In [33]:
list(enumerate(liste_1, 1))

[(1, 'techpro'), (2, 'is'), (3, 'the'), (4, 'best')]

In [36]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [37]:
list(enumerate(liste_1, 100))

[(100, 'techpro'), (101, 'is'), (102, 'the'), (103, 'best')]

### soru1: en küçük ve en büyük sayılar arasındaki kayıp sayıları bulun. 
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [3]:
num = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29,
       53, 54, 45, 19, 20, 47, 55, 39, 41, 7,
       9, 17, 26, 27, 42, 22, 37, 51, 46, 18,
       44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

In [4]:
a = min(num) 
b = max(num)
eksik = []
for i in range(a,b):
    if i not in num:
        eksik.append(i)
print(eksik)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [40]:
#yöntem1

kayıp_sayılar = []

for i in range(min(num), max(num)):

    if i not in num:
        kayıp_sayılar.append(i)

print(kayıp_sayılar)

[8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49]

In [ ]:
# yöntem2

kayıp_sayılar = []

for i in range(min(num), max(num)):

    if i in num:
        continue

    kayıp_sayılar.append(i)

print(kayıp_sayılar)

In [42]:
#yöntem3

full_set = set(range(min(num), max(num))) # max ve min sayıları arasındaki leri aldık ve set'e cevirdik

num_set = set(num)  # bize vrilen list'i set e cevirdik

full_set - num_set #aradaki farkı yani bize verilen listte olan ama aradaki eksikleri olanı tamamladıgımız (fuul_set)'un farkını aldık

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

In [43]:
set(range(min(num), max(num))) - set(num)

{8, 12, 14, 23, 25, 31, 32, 38, 40, 43, 49}

# List Comprehension

-for ile uzun uzadıya yaptıgımızı "list comprehension" ile yapıyoruz. Ama herseyi yapamayız.
- cok daha hızlı

In [44]:
# 1'den 5'e kadar olan list'in elemanlarının karesini alın. Burda normal for kullanarak yaptıgımızı asagıda "list comprehension" kullanarak yaptık.
liste_2 = [1,2,3,4,5]
empty_list = []
for i in liste_2:
    empty_list.append(i ** 2)

print(empty_list)

[1, 4, 9, 16, 25]

In [45]:
[i ** 2  for i in liste_2] # for i in liste_2 yazıp basına gecip islemi basına yazdık ve hepsini list icine alıyoruz. append'in yaptıgını direk list comprehension yapar

[1, 4, 9, 16, 25]

In [46]:
# verilen list'deki elemanlar icindeki "!, * , ? "ü kaldır.
liste_3 = ["renault!", "fiat*", "ford?!"]
liste_3

['renault!', 'fiat*', 'ford?']

In [49]:
düzenlenmiş_liste = []
for i in liste_3:
    düzenlenmiş_liste.append(i.replace("!","").replace("*","").replace("?",""))

düzenlenmiş_liste

['renault', 'fiat', 'ford']

In [50]:
[i.replace("!","").replace("*","").replace("?","") for i in liste_3]

['renault', 'fiat', 'ford']

In [55]:
# çift olanları döndüren kodu yazın.
sayılar_listesi = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]

evens = []

for i in sayılar_listesi:

    if i % 2 == 0:
        evens.append(i)

print(evens)

[2, 36, 62, 52, 30, 56, 48]

In [56]:
# if ifadesini sadece kullanacaksak yani else(elif ile kullanımı yok pek) yoksa for 'dan sonra yazıyoruz. body varsa onu for'un bas kısmına yazıyoruz.
[ i  for i in sayılar_listesi if i % 2 == 0]

[2, 36, 62, 52, 30, 56, 48]

In [57]:
[ i ** 2  for i in sayılar_listesi if i % 2 == 0] #if'in  body varsa onu for'un bas kısmına yazıyoruz.

[4, 1296, 3844, 2704, 900, 3136, 2304]

In [58]:
# list comprehension'un if-else ile kullanımı : if-else seklinde kullanacak isek yazacagımızın hepsini for'un basına yazıyoruz.
# çift olanlar yerinde olduğu gibi kalsın, tek olanların karesini yazdırın
sayılar_listesi = [1,15,2,36,5,89,45,62,52,71,30,56,45,95,61,48]

result = []

for i in sayılar_listesi:

    if i % 2 == 0:
        result.append(i)
    else:
        result.append(i ** 2)

print(result)

[1, 225, 2, 36, 25, 7921, 2025, 62, 52, 5041, 30, 56, 2025, 9025, 3721, 48]

In [59]:
[ i  if i % 2 == 0 else  i ** 2  for i in sayılar_listesi ]

[1, 225, 2, 36, 25, 7921, 2025, 62, 52, 5041, 30, 56, 2025, 9025, 3721, 48]